
<div class="title-school" style="width: 410px;">
<p class="lead" style="text-align: center ; font-weight: bold; font-family: 'Times New Roman', Times, serif; color: rgb(50, 205, 68);">THƯ VIỆN</p>
<p class="lead" style="margin-top: -20px;text-align: center ; font-weight: bold; font-family: 'Times New Roman', Times, serif; color: rgb(50, 205, 68);">
        TRƯỜNG TIỂU HỌC PHONG THẠNH TÂY A
</p>
</div>


<p style="text-align: center; font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: 30px; color: red;"><img src="/app/assets/images/open-book.png" alt="" width="30" height="30"/> QUẢN LÝ CHO HỌC SINH MƯỢN </p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã HS</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Lớp</th>
            <th scope="col">Mã sách</th>
            <th scope="col">Tên sách</th>
            <th scope="col">Tên tác giả</th>
            <th scope="col">Tủ sách</th>
            <th scope="col">Số BM</th>
            <th scope="col">Ngày mượn</th>
            <th scope="col">Ngày trả</th>
            <th scope="col">Số ngày</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>